<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹페이지</title>

<form action="/hello" method="POST">
    
    <div>
      <label for="say">이름은 무엇이니?</label>
      <input name="name" id="name" placeholder="이름을 적어주세요" />
    </div>
    <div>
      <label for="to">전달할 말은 무엇이니?</label>
      <input name="hello" id="hello" placeholder="하고싶은 말을 적어주세요" />
    </div>
    <div>
      <button>제출</button>
    </div>
  </form>